*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

textarea {
  resize: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover, a:focus {
  color: var(--accent-color);
}

.header__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}

.header {
  max-width: 480px;
  position: relative;
  display: flex;
  border-bottom: 1px solid #ececec;
  height: auto;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: inline-block;
}

.first-part-of-logo {
  color: var(--accent-color);
}

.mob-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  height: auto;
}

.icon-menu {
  display: block;
}

@media screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 83px 48px 40px;
  z-index: 999;
  background-color: #fff;
  transform: translateX(100%);
  display: none;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-open {
  display: block;
  transform: translateX(0);
}

.mob-menu__list {
  padding-bottom: 306px;
}

.mob-menu__item {
  padding-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.menu__close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.socials__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-left: 10px;
  padding-right: 10px;
}

.socials__item:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__socials {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.mob-menu__link--active {
  color: #2196f3;
}

.main-nav__link--active {
  color: var(--accent-color);
}

.main-nav__link--active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.main-nav__item {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__item:not(:first-child) {
  margin-left: 50px;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main-nav__list {
  display: flex;
  justify-content: flex-start;
  margin-left: 93px;
}

.main-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__link:hover, .main-nav__link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-left: 84px;
    padding-right: 15px;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
  }
}

.contacts__icon {
  fill: currentColor;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
  }
}

.contacts__link--tel {
  display: flex;
  width: auto;
  height: auto;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link--tel:hover, .contacts__link--tel:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contacts__link--tel {
    font-size: 12px;
    line-height: 1.17;
    color: #757575;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link--tel {
    padding-left: 30px;
  }
}

.contacts__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .contacts__link--mail {
    font-size: 12px;
    line-height: 1.17;
    color: #757575;
  }
}

.contacts__link {
  display: flex;
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    font-size: 14px;
    line-height: 1.17;
    color: #757575;
  }
}

.contacts__item {
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts__item {
    padding-bottom: 10px;
  }
}

.legend {
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/legend-img/legend-img-mob-x1.jpg);
  padding: 200px 0px;
  background-position: 50% 0;
  margin-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .legend {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .legend {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/legend-img/legend-img-tab-x1.jpg);
    max-width: 768px;
    height: 400px;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .legend {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/legend-img/legend-img-desc-x1.jpg);
    min-height: 600px;
    max-width: 1600px;
  }
}

.legend__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  padding-top: 118px 60px;
}

.legend__title {
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.legend__button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 609px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
}

.modal__close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #000000;
}

.modal__close-icon:hover, .modal__close-icon:focus {
  fill: var(--accent-color);
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  left: 576px;
  top: 382px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}

.modal__contacts {
  flex-direction: column;
  margin-bottom: 20px;
}

.modal__form {
  padding: 40px;
}

.modal__label {
  display: block;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

*:focus {
  outline: none;
}

.comment__field {
  height: 120px;
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
}

.comment__field:hover, .comment__field:focus {
  border-color: var(--accent-color);
}

.policy__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding-left: 7px;
}

.policy__link {
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal__submit {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field {
  margin-bottom: 10px;
  position: relative;
  height: 100%;
  width: 100%;
}

.modal__field .modal__input:hover + .modal__icon,
.modal__field .modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/checkbox.svg");
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.about-us {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}

.about-us__card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-us__icon {
  width: 70px;
  height: 70px;
  background: #f5f4fa;
  border-radius: 4px;
}

.about-us__title {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about-us__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.about-us__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .about-us__list {
    max-width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    margin-left: nth-child(2n) 30px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .about-us__list {
    max-width: 1200px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.about-us__item {
  margin-left: 15px;
  margin-right: 15px;
  max-width: 450px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-us__item {
    width: calc((100% / 2) - 60px);
    max-width: 354px;
    min-height: 251px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us__item {
    width: calc((100% / 4) - 90px);
  }
}

.section__works {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section__works {
    display: none;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.works {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc((100%-60px) / 3);
}

.works__item {
  position: relative;
}

.works__item:not(:first-child) {
  margin-left: 30px;
}

.works__description {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.works__description-text {
  display: flex;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section__our-team {
  background: #f5f4fa;
}

.our-team {
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .our-team {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    min-width: 1200px;
  }
}

.our-team__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
}

@media screen and (min-width: 768px) {
  .our-team__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list {
    flex-wrap: nowrap;
  }
}

.section__title {
  padding-top: 60px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team__item {
  margin-left: 30px;
  margin-bottom: 30px;
  max-width: 450px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .our-team__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    width: 270px;
  }
  .our-team__item:not(:first-child) {
    margin-left: 30px;
  }
}

.our-team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.our-team__text {
  padding-bottom: 30px;
  padding-top: 30px;
}

.our-team__profile {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.social__icon {
  width: 20px;
  height: 20px;
}

.clients {
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .clients {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    max-width: 1200px;
  }
}

.section__title {
  margin-top: 60px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: 15px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

.clients__item {
  widows: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% -180px) / 6);
    min-width: 170px;
  }
  .clients__item:not(:first-child) {
    margin-left: 30px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 16px 32px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .footer__container {
    max-width: 480px;
  }
}

@media screen and (min-width: 786px) {
  .footer__container {
    max-width: 786px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    max-width: 1200px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }
}

.footers__contacts {
  text-decoration: none;
}

.footer-contacts_and-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 786px) {
  .footer-contacts_and-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-contacts__block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  margin-bottom: 60px;
}

.location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contact__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-logo-second-part {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-second-part:hover {
  color: var(--accent-color);
}

.footer__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__contacts {
  font-style: normal;
}

.footer-contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-contacts__list li:not(:last-child) {
  padding-bottom: 9px;
}

.location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 786px) {
  .footer__social {
    margin-left: 160px;
  }
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__list {
  display: flex;
}

.footer-social__item {
  display: flex;
}

.footer-social__item:not(:first-child) {
  margin-left: 10px;
}

.footer-button__icon {
  width: 20px;
  height: 20px;
}

.footer-social__title {
  background-color: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-contacts__blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .subscribing {
    margin-left: 93px;
    align-items: flex-start;
  }
}

.subscribing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribing-input__lable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscribing-input__lable {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
}

.mail__lable {
  position: absolute;
  top: 15px;
  left: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: block;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribing__input {
  background-color: inherit;
  height: 50px;
  width: 300px;
  max-width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 786px) {
  .subscribing__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribing__input {
    width: 350px;
  }
}

.subscribing__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .subscribing__button {
    margin-left: 12px;
  }
}

.send__icon {
  fill: #ffffff;
  margin-left: 10px;
}

.galery {
  max-width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 40px;
}

.filter__item {
  margin-left: 8px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__item:hover, .filter__item:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active-nav {
  background-color: var(--accent-color);
  color: #ffffff;
}

.galery__filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: -8px;
}

@media screen and (min-width: 786px) {
  .galery__filter {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
  }
}

.galery__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.galery {
  max-width: 480px;
}

@media screen and (min-width: 786px) {
  .galery {
    width: 786px;
  }
}

@media screen and (min-width: 1200px) {
  .galery {
    width: 1200px;
  }
}

.galery__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery__link:hover, .galery__link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 4px;
}

.galery__item {
  max-width: 450px;
  display: flex;
  margin-bottom: 30px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 786px) {
  .galery__item {
    width: 354px;
  }
}

.galery__item:hover, .galery__item:focus {
  border-color: var(--accent-color);
}

.project {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card__description {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery__link:hover .card__description {
  opacity: 1;
  transform: translateY(0);
}

.galery__link:focus .card__description {
  opacity: 1;
  transform: translateY(0);
}

.card__text {
  display: flex;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.galery__card {
  overflow: hidden;
  position: relative;
}

.galery__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */