.legend {
  max-width: 1600px;
  margin: 0 auto;
  height: auto;
  padding: 118px 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  background-position: 50% 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/legend-img/legend-img-mob-x1.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/legend-img/legend-img-mob-x2.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/legend-img/legend-img-tab-x1.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/legend-img/legend-img-tab-x2.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/legend-img/legend-img-desc-x1.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/legend-img/legend-img-desc-x2.jpg);
    }
  }
}

.legend__title {
  // width: 360px;
  margin-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.legend__button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
}

.legend__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// .legend {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: auto;
//   padding: 118px 0;
//   width: 100%;
//   // min-height: 400px;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-color: #2f303a;
//   background-position: 50% 0;
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/legend-img/legend-img-mob-x1.jpg);
//   @media screen and (max-width: 767px) {
//     background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     );
//     background-image: url(../images/legend-img/legend-img-mob-x1.jpg);
//   }

//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     background-image: url(../images/legend-img/legend-img-mob-x2.jpg);
//   }

//   @media screen and (min-width: 768px) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/legend-img/legend-img-tab-x1.jpg);
//   }

//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     background-image: url(../images/legend-img/legend-img-tab-x2.jpg);
//   }

//   @media screen and (min-width: 1200px) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/legend-img/legend-img-desc-x1.jpg);
//     min-width: 1200px;
//   }

//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     background-image: url(../images/legend-img/legend-img-desc-x2.jpg);
//   }
// }

// .legend {
//   height: auto;
//   padding: 118px 0;
//   width: 100%;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-color: #2f303a;
//   background-position: 50% 0;

//   @media screen and (min-width: 1200px) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/legend-img/legend-img-desc-x1.jpg);
//     min-width: 1200px;
//   }

//   @media screen and (min-width: 768px) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/legend-img/legend-img-tab-x1.jpg);
//   }
//   @media screen and (max-width: 480px) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/legend-img/legend-img-mob-x1.jpg);
//   }

//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/legend-img/legend-img-desc-x2.jpg);
//   }

//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/legend-img/legend-img-tab-x2.jpg);
//   }

//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/legend-img/legend-img-mob-x2.jpg);
//   }
// }
