.section__our-team {
  background: #f5f4fa;
}

.our-team {
  max-width: 480px;
  @media screen and (min-width: 768px) {
    min-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 1200px;
  }
}

.our-team__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.section__title {
  padding-top: 60px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team__item {
  margin-left: 30px;
  margin-bottom: 30px;
  // margin: 30px 15px;
  max-width: 450px;
  // &:not(:first-child) {
  //   margin-left: 30px;
  // }
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    // width: calc((100% -90px) / 2);
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    // width: calc((100% -120px) / 4);
    width: 270px;
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.our-team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.our-team__text {
  padding-bottom: 30px;
  padding-top: 30px;
}

.our-team__profile {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: #ffffff;
  }
}

.social__icon {
  width: 20px;
  height: 20px;
}
